@font-face {
    font-family: Vazir;
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Regular.eot');
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Regular.woff2') format('woff2'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Regular.woff') format('woff'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Bold.eot');
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Bold.woff2') format('woff2'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Bold.woff') format('woff'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Black.eot');
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Black.woff2') format('woff2'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Black.woff') format('woff'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Medium.eot');
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Medium.woff2') format('woff2'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Medium.woff') format('woff'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Light.eot');
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Light.woff2') format('woff2'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Light.woff') format('woff'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Thin.eot');
    src: url('./fonts/vazir-font-v30.1.0/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Thin.woff2') format('woff2'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Thin.woff') format('woff'),
         url('./fonts/vazir-font-v30.1.0/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    overflow: hidden;
    font-family: Vazir;
    height: 100%;
    font-size: 10px;
    user-select: none;
}
.search-box{
    width: 600px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.search-box img{
    width: 90%;
} 
.search-input-container{
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    width: 100%;
    height: 30px;
    padding: 12.5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.search-input-container::after{
    content: '';
    position: absolute;
    height: 400px;
    top: 22px;
    left: -1px;
    right: -1px;
    border: 1px solid grey;
    border-top: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
}  
.search-input-container:hover{
    box-shadow: 0 0 10px 5px#dfe1e5;
}
.search-input-container svg{
    height: 80%;
    margin-left: 10px;
    fill: grey;
}
.search-input{
   border:none;
    background-color: transparent;
    font-size: 20px;
    width: 100%;
    height: 100%;
    font-family: Vazir;
    font-size: 1.7em;
}
.search-input:focus{
    outline: none;
}
.search-box .search-btn{
    margin-top: 38px;
    width: 164px;
    height: 43px;
    border: none;
    border-radius: 15px;
    font-family: Vazir;
    cursor: pointer;
    background-image: linear-gradient( 90deg, #abf6f6, rgb(255, 61, 213));
    font-size: 1.8em;
    font-weight: 500;
    color: rgb(48, 48, 48);
}
.search-box .search-btn:hover{
    box-shadow: 0 0 10px 5px#dfe1e5;
}